.root {
    display: inline-flex;
    align-items: center;
    column-gap: 0.2rem;
}

.input {
    composes: input from '~@magento/venia-ui/lib/components/TextInput/textInput.css';
    text-align: center;
    border-radius: 0;
    min-height: 30px;
    padding-left: 0!important;
    padding-right: 0!important;
    font-size: 14px;
    background: none;
    border: 0;
    height: 30px;
    width: 40px;
    background: white;
}

.button {
    composes: button from '~@magento/venia-ui/lib/components/CartPage/ProductListing/quantity.css';
    background: white;
    border-color: white;
    width: 24px;
    height: 24px;
}

.button:disabled {
    border-color: white;
}

.button_decrement {
    composes: button;
}

.button_increment {
    composes: button;
}

.icon svg {
    stroke: rgb(var(--brand-color-black-light));
    width: 12px;
    margin-top: 4px;
}
